.goodnews {
    color: rgb(90, 150, 0);
}

.badnews {
    color: #fb0000;
}

.msg {
    top: -10rem;
    transition: top .5s;
    -webkit-transition: top .5s;
    -moz-transition: top .5s;
    -ms-transition: top .5s;
    -o-transition: top .5s;
}

.msg_show {
    top: 0 !important;
}